* {
    line-height: 1;
    color: antiquewhite;
    font-size: 36pt;
    /* border: 1px dashed red; */
    box-sizing: border-box;
}

html {
    background-image: url(./images/darkweb.png);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5%;
}

img {
    height: 200px;
    width: auto;
    margin: 0 auto;
}

h1 {
    font-size: 1em;

}

h2 {
    font-size: .8em;
    font-style: italic;
}

h3 {
    font-size: .7em;
}

p, 
ul, 
li,
ol {
    font-size: .65em;
    margin: 0;
}

.mainboi {
    font-size: 2em;
}


.homepage ul {
    list-style-type: none;

}

.column {
    float: left;
    width: 50%;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
    border: 1px;
}

section {
    display: flex;
    /* border: 2px dashed white; */
    width: 100%;
    align-items: center;
    /* justify-content: space-between; */

}

.recipe div {
    display: inline-block;
    border: 1px dashed white;
    /* max-width: 65%; */
    /* justify-content: space-around; */

}