* {
    /* line-height: 1; */
    color: antiquewhite;
    font-size: 36pt;
    /* border: 1px dashed red; */
    box-sizing: border-box;
    margin: 0;
}

html {
    background-image: url(./images/darkweb.png);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10%;
}

img {
    height: 100%;
    /* width: auto; */
    /* margin: 0 auto; */
}

h1 {
    font-size: 1em;
    margin-bottom: 12px;
}

h2 {
    font-size: .8em;
    font-style: italic;
    margin-bottom: 12px;
}

h3 {
    font-size: .7em;
}

p, 
ul, 
li,
ol {
    font-size: .65em;
    /* margin: 0; */
    line-height: 1.1;
}

.homepage ul {
    list-style-type: none;
    
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    border: 1px;
}

section {
    display: flex;
    /* border: 2px dashed white; */
    /* width: 100%; */
    
}

div {
    /* width: 25%; */
    /* border: 2px dashed white; */
    margin-top: 8px;
    
}

.header {
    align-items: center;
    width: 100%;
    font-size: 2em;
    /* border: 2px dashed white; */
}

div.description {
    /* border: 2px dashed white; */
    height: auto;
    
}

div.div-img {
    height: 200px;
}
    
div.ingredients {
    flex: 1;
    margin-left: 8px;
}

div.recipe {
    flex: 1;
    margin-left: 8px;
    
}

div.25 {
    width: 25%;
}

div.50 {
    width: 50%;
}

div.75 {
    width: 75%;
}

section.return {
    margin-top: 12px;
}